*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

.heading{
 padding-bottom: 15px;
 letter-spacing: 5px;
 color: brown;
}
  
.header{
  height:340px ;
  background-color: #D3D3D3;
  width: 100%;
}

.header-img{
  margin-left: auto;
  margin-right: auto;
  height:340px ;
  display: block;
}

.sidebar{
  background-color:#FFD8CF;  
  width:200px;
  float: left;
}

.sidebar li {
  color: white;
  background-color: brown;
  padding:15px;
  margin-bottom:10px;
  font-size: 20px;
  text-align: center;
}

.sidebar li > a:hover {
  color: gold;
}

.sidebar-home{
  letter-spacing: 16px;
}

.sidebar-about{
  font-size: smaller;
}

.sidebar-four-moji{
  letter-spacing: 9px;
}

.main-photo{
  width: 1150px;
}

.contents{
  width: 1150px;
  float: left;
  background-color:white;
  color:  #8B4513;
 
}

footer{
  height:100px ;
  clear:left;
  background-color: #D3D3D3;
  
}

.footer-let{
  font-size: 18px;
  padding-left: 1200px;
  
}


